body {
    margin: 0;

    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle, #23c3c9 50%, #94b7c0);
}

/* Top-menu */

.top-menu {
    background-color: royalblue;
}

.top-menu-link {
    width: 10%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.top-menu-link:hover {
    background-color: #d9a7a7;
}

/* Page-content */

.page-content-title {
    text-align: center;
}

.label-with-input {
    margin-left: 40%;
}

.submit-button {
    margin-left: 45%;
}

.validation-message {
    color: red;
}